:root {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
}


.login-link {
  font-size: 3vh;
  cursor: pointer;
  margin: 6vh;
  color: #00A080;
}

.login-link:hover {
  color: #008060
}

.logout-link {
  font-size: 3vh;
  cursor: pointer;
  text-align: right;
  margin-right: 10px;
  color: #00A080;
}

.logout-link:hover {
  color: #008060
}





.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30vh
}

.header-logged-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 2vh;
}

.title>h1 {

  font-size: 10vh;

}

.mashify-title {
  margin: 0px;
  cursor: pointer;
  transition: 500ms;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image:
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 100% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 500ms;
  }
}

.fancy:hover {
  background-size: 150% auto
}

.buttons {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.create {
  width: 100%;
  height: 10vh;
  margin-bottom: 4vh;
  color: #008060;
  font-size: 5vh;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 10vh;
}
.create:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mix {
  width: 100%;
  height: 10vh;
  margin-bottom: 4vh;
  color: #008060;
  font-size: 5vh;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 10vh;
}
.mix:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.search {
  width: 100%;
  height: 10vh;
  padding: 0px;
  margin-bottom: 4vh;
  color: #008060;
  font-size: 5vh;
  font-weight: bold;
  border-radius: 10vh;
  border-width: 0px;
}

.search:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.search>p {
  margin: 0px;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10vh;
}

.search-form>input[type="text"] {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5%;
  height: 85%;
  width: 85%;
  border: none;
  background-color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #008060;
  font-size: 90%;

}

.search-form>input[type="submit"] {
  height: 100%;
  width: 15%;
  border: none;
  margin-right: -5px;
  background-color: #008060;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vw;
  border-radius: 0px 50px 50px 0px;
}
.search-form>input[type="submit"]:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.artist-button {
  background-color: whitesmoke;
  display: flex;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  height: 17vh;
  width: 75%;
  border-radius: 17vh;
}
.artist-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.artist-button>div>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-button.active>div {
  box-shadow:
    0 0 6px 3px #fff,  /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */

}

.artist-button>div {
  transition-duration: 1s;
  border-radius: 50%;
  width: auto;
  max-width: 23vh;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  /* This creates the circular shape */
  overflow: hidden;
  margin: 1vh;

}

.artist-button>h3 {
  color: #008060;
  font-size: 5vh;
}

.rec-artist:hover {
  box-shadow: none;
}