:root{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
}


.login-link {
  font-size: 3vh;
  cursor: pointer;
}
.logout-link {
  font-size: 3vh;
  cursor: pointer;
  text-align: right;

}


.top-artists {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.artist-button>img {
  display: block;
 

  width: 100%;
  height: 100%;
  object-fit: cover;

}


.artist-button {
  width: auto;
  max-width: 23vh;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  /* This creates the circular shape */
  overflow: hidden;
  margin: 1vh;
  box-shadow:
  0 0 12px 3px #fff,
  /* inner white */
  0 0 20px 6px #f0f,
  /* middle magenta */
  0 0 28px 9px #0ff;
/* outer cyan */
}

.artist-button.active {
  width: 23vh;
  height: 23vh;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 12px 3px #fff,
    /* inner white */
    0 0 20px 6px rgb(0, 255, 21),
    /* middle magenta */
    0 0 28px 9px #0ff;
  /* outer cyan */
}

.action-btn {
  border-radius: 50%;
  width: 23vh;
  height: 23vh;
  margin: 1vh;
  background-color: black;
  color: aliceblue;
  box-shadow:
    0 0 12px 3px #fff,
    /* inner white */
    0 0 20px 6px #f0f,
    /* middle magenta */
    0 0 28px 9px #0ff;
  /* outer cyan */
}



.action-btn {
  font-size: 4vh;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title>h1 {
 
  font-size: 10vh;

}
.mashify-title{
  margin: 0px;
  cursor: pointer;
}
.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.action-btn.search{
}
.search-form{

}
.search-form > input[type="text"]{
  width:90%;
  border: 0px;
  /* border-radius: 5%; */
  padding-block:0px;
  padding-inline: 0px;
  
}
.search-form > input[type="submit"]{
  width:fit-content;
  font-size: 2vh;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;

}